[Unit]
Description=Gunicorn Daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/songhill/backend
ExecStart=/var/www/songhill/backend/venv/bin/gunicorn \
	--capture-output \
	--log-level info \
	--access-logfile /var/log/gunicorn/socket.log \
	--error-logfile /var/log/gunicorn/socket.log \
	--workers 4 \
	--timeout 600 \
	--bind unix:/var/www/songhill/backend/gunicorn.sock \
	backend.wsgi:application

[Install]
WantedBy=multi-user.target

