[Unit]
Description=Gunicorn Daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/songhill/backend
ExecStart=/var/www/songhill/backend/venv/bin/gunicorn \
#	To see django output:
#	--capture-output \
#	--name gunicorn \
	--log-level info \
	--access-logfile /var/log/gunicorn/socket.log \
	--error-logfile /var/log/gunicorn/socket.log \
	--max-requests 16 \
	--max-requests-jitter 8 \
	--workers 1 \
	--threads 1 \
	--timeout 600 \
	--graceful-timeout 100 \
	--bind unix:/var/www/songhill/backend/gunicorn.sock \
	backend.wsgi:application

[Install]
WantedBy=multi-user.target

